<h1>
  Test
</h1>

<mat-label>Filter</mat-label>
<input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>

<div class="example-container mat-elevation-z8">
  
  <mat-table matTableExporter [dataSource]="dataSource" #exporter="matTableExporter" [hiddenColumns]="[0]">

    <ng-container matColumnDef="No">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.No}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Surname">
      <mat-header-cell *matHeaderCellDef> Surname </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Surname}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Birth">
      <mat-header-cell *matHeaderCellDef> Birth </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Birth}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<button mat-raised-button (click)="exportExcel()">Excel</button>
<div>
  
</div>
